<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dyl8jagdn/image/upload/v1686047188/Captura_de_pantalla_2023-06-06_a_las_12.24.50_myx2mt.png", class: "objectborder" %>
    <% end %>

    <button style="border: transparent; outline: none;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <% if user_signed_in? && current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu", style: "width: 50px; height: 50px; object-fit: cover;" %>
      <% else %>
        <%= image_tag "https://cdn4.iconfinder.com/data/icons/political-elections/50/48-512.png", class: "avatar", alt: "dropdown menu", style: "width: 40px; height: 40px;" %>
      <% end %>
    </button>
    <div class="collapse navbar-collapse navbar-toggler" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to " Create an event", new_event_path, class: " text-decoration-none font  mt-1 mb-1  me-1 btn btn-outline-light", style: "background-color: transparent; color: white; border: none;" %>
          </li>
          <li class="nav-item active">
            <%= link_to " My Events", events_path, class: " text-decoration-none font mt-1 mb-1  me-1 btn btn-outline-light", style: "background-color: transparent; color: white; border: none;" %>
          </li>
          <li class="nav-item active">
            <%= link_to "All Events", participants_path, class: " text-decoration-none font  mt-1 mb-1  me-1 btn btn-outline-light", style: "background-color: transparent; color: white; border: none;" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Edit profile", "/users/edit", class: " text-decoration-none font mt-1 mb-1  me-1 btn btn-outline-light", style: "background-color: transparent; color: white; border: none;"%>
          </li>
          <li class="nav-item active">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: " text-decoration-none font mt-1 mb-1  me-1 btn btn-outline-light", style: "background-color: transparent; color: white; border: none;"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white cinzel ", style: "border: none;" %>
          </li>
        <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
