<div style="">
<% if @event.status %>
  <div class="container d-flex justify-content-center p-1" style="overflow: hidden; min-heigh: 70px">
    <h2 class="cinzel text-white" style="min-height: 70px;"><%= @event.name %></h2>
  </div>
    <%= render "propositions/form", event: @event, proposition:  @proposition %>

  <div class="container d-flex  flex-column align-items-center p-1"  style="background-color: transparent; max-width: 450px;">
    <% @sorted_events.each do |proposition| %>
      <div class=" d-flex flex-column align-items-center p-2" >
        <ul class="list-group">
          <div  style="width: 400px;">
            <% if @event.propositions.select { |proposition| proposition.votes.where(user: current_user).count > 0 }.any?  %>
              <div class="d-flex" style="width: 100%;">
                <li class="list-group-item m-1  text-white d-flex justify-content-between" style="width: 90%; border-radius: 100px 10px / 120px; background: rgba(0, 0, 0, 0.3); heigh: 50px;">
                  <div class="" style="">
                    <%= proposition.content %>
                  </div>
                  <div class="border" style="border-radius: 40px;">
                    <p class="mb-0 p-2" style="content-box: break-word; font-size: 15px;">Votes: <%= proposition.votes.size%></p>
                  </div>
                </li>
                <% if @event.votes.where(user: current_user)[0].proposition == proposition %>
                  <i class="fa-regular fa-square-check fa-beat-fade mt-4 ms-2" style="color: #ffffff;"></i>
                <% end %>
              </div>
            <% else %>
              <div class="d-flex align-items-center ">
                <%= link_to event_proposition_votes_path(@event, proposition), data: {turbo_method: :post}, class: "text-decoration-none", style: "heigh: 60px ;width: 400px;" do  %>
                  <li class="list-group-item m-1  text-white d-flex justify-content-between" style="border-radius: 100px 10px / 120px; background: rgba(0, 0, 0, 0.3); heigh: 50px; width: 350px;">
                    <div class=" me-2 mb-0" style="overflow: hidden;">
                      <p style="overflow: hidden;"><%= proposition.content %></p>
                    </div>
                    <div class="border p-2" style="border-radius: 40px;">
                      <p class="mb-0">Votes: <%= proposition.votes.size%></p>
                    </div>
                  </li>
                <% end %><%#this is the end to the VOTES iterations  %>
                  <div class="align-items-end">
                    <%= link_to "",
                    event_proposition_path(@event, proposition),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},

                    class: "text-decoration-none fa-solid fa-trash-can fs-5 position-relative",
                    style: "margin-right: 30px; margin-bottom: 20px;color: white; " %>
                  </div>
              </div>
            <% end %> <%#this is the end to the IF/ELSE statement %>
          </div>
        </ul>
      </div>
    <% end %> <%#this is the end of the proposition iterations %>
    <% if @current_user_vote.nil? == false %>
      <%= link_to "Change your Mind?", vote_path( id: @current_user_vote.id), data: {turbo_method: :delete}, class: "btn btn-outline-light objectborder"%>
    <% end %>
  </div>
  <div class="container">
    <%= link_to "End the event", status_event_path(@event), data: {turbo_method: :patch}, class: "btn btn-outline-light objectborder m-2" %>
  </div>
<% else %> <%#this else is for the statement of event.status %>

<%# this is the animation for the celebration %>
  <%= render "animation"%>
<%# the end of the animations  %>

<%# this is the result part %>
  <div class="container " style="text-align: center;">

    <h1 class="cinzel text-white">The winner is</h1>
    <% @event.propositions.sort_by { |proposition| -proposition.votes.count }.each_with_index do |proposition, index| %>
      <div class=" m-1 text-white d-flex flex-column justify-content-between proposition <%= index == 0 ? "winner" : "" %>" style="border-radius: 100px 10px / 120px; color: white;">
          <div class=" me-2" style="overflow: hidden;">
            <p style="overflow: hidden;"><%= proposition.content %></p>
          </div>
          <%# <%= proposition.content %>
          <div class="d-flex justify-content-evenly ">
            <p><%= index + 1 %>° Place</p>
            <p class="mb-0">Total: <%= proposition.votes.count%></p>
          </div>
          <%# <%= proposition.votes.count %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="d-flex text-align-center" style="justify-content: start; margin-left: 20px;">
  <%= link_to "back to events", participants_path, class: "btn btn-outline-light objectborder" %>
</div>
</div>
