<% if @event.status %>
  <div class="container d-flex flex-column align-items-center p-1" style="overflow: hidden;">
    <h2 class="cinzel text-white" style="margin-bottom: -10px; font-size: 50px;">"<%= @event.name %>"</h2>
    <small class="plex text-white fs-9" style="margin-bottom: 20px;">Create by: <%= @event.user.nickname.capitalize %></small>
    <h3 class="plex text-white fs-5">Select one of the following options</h3>
  </div>
  <div class="container d-flex  flex-column align-items-center p-1"  style="background-color: transparent; max-width: 450px;">
    <% @sorted_events.each do |proposition| %>
        <div class=" d-flex flex-column align-items-center " >
          <ul class="list-group">
            <div  style="width: 400px;">
              <% if @event.propositions.select { |proposition| proposition.votes.where(user: current_user).count > 0 }.any?  %>
                <div class="d-flex" style="width: 100%;">
                  <li class="list-group-item m-1 p-3 text-white d-flex justify-content-between" style="width: 90%;border-radius: 100px 10px / 120px; background: rgba(0, 0, 0, 0.3); heigh: 50px;">
                    <div class="" style="word-wrap: break-word;">
                      <%= proposition.content %>
                    </div>
                    <div style="overflow: hidden;">
                      <p class="mb-0">Votes: <%= proposition.votes.size%></p>
                    </div>
                  </li>
                  <% if @event.votes.where(user: current_user)[0].proposition == proposition %>
                        <% if current_user.photo.attached? %>
                          <%= cl_image_tag current_user.photo.key, class: "avatar fa-beat-fade", alt: "dropdown menu", style: "width: 30px; height: 30px; object-fit: cover; margin-top: 13px;"  %>
                        <% else %>
                          <%= image_tag "https://cdn4.iconfinder.com/data/icons/political-elections/50/48-512.png", class: "avatar", alt: "dropdown menu", style: "width: 30px; height: 30px; object-fit: cover;  margin-top: 20px;" %>
                        <% end %>
                  <% end %>
                </div>
              <% else %>
                <%= link_to event_proposition_votes_path(@event, proposition), data: {turbo_method: :post}, class: "text-decoration-none"  do  %>
                  <li class="list-group-item m-1 p-3 text-white d-flex justify-content-between" style="border-radius: 100px 10px / 120px; background: rgba(0, 0, 0, 0.3); heigh: 50px;">
                    <div class="objectborder " style="word-wrap: break-word;">
                      <%= proposition.content %>
                    </div>
                    <div>
                      <p class="mb-0">Votes: <%= proposition.votes.size%></p>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </div>
          </ul>
        </div>
    <% end %>
    <% if @current_user_vote.nil? == false %>
      <%= link_to "Change your Mind?", vote_path( id: @current_user_vote.id), data: {turbo_method: :delete}, class: "btn btn-outline-light objectborder"%>
    <% end %>
  </div>
<% else %>
  <%# result of the event%>
    <div class="container " style="text-align: center;">
    <h1 class="cinzel text-white" style="font-size: 40px;">The winner is:</h1>
    <% @event.propositions.sort_by { |proposition| -proposition.votes.count }.each_with_index do |proposition, index| %>
      <div class=" m-1 text-white d-flex flex-column justify-content-between proposition <%= index == 0 ? "winner" : "" %>" style="border-radius: 100px 10px / 120px; color: white;">
          <div class=" me-2" style="overflow: hidden;">
            <p style="font-size: 20px; overflow: hidden;"><%= proposition.content %></p>
          </div>
          <%# <%= proposition.content %>
          <div class="d-flex justify-content-evenly ">
            <p><%= index + 1 %>° Place</p>
            <p class="mb-0">Total: <%= proposition.votes.count%></p>
          </div>
          <%# <%= proposition.votes.count %>
      </div>
    <% end %>
  </div>
<%= render "animation"%>
<% end %>

<div class="d-flex text-align-center" style="justify-content: start; margin-left: 20px;">
  <%= link_to "back to events", participants_path, class: "btn btn-outline-light objectborder" %>
</div>
