<div class="container d-flex justify-content-center">
  <h2>Please add some proposition to your <%= @event.name %> event</h2>
</div>

<div class="container d-flex  flex-column align-items-center">
  <% @event.propositions.each do |proposition| %>
      <div class=" d-flex flex-column align-items-center p-2" style="background-color: white; width: 450px;">
        <ul class="list-group">
          <div class="border mb-2" style="width: 400px;">
          <%= link_to event_proposition_votes_path(@event, proposition), data: {turbo_method: :post} do  %>
            <li class="list-group-item"><%= proposition.content %></li>
            <% end %>
            <%= link_to "Delete",
             event_proposition_path(@event, proposition),
             data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </div>
      </ul>
    </div>
  <% end %>
</div>
<%= render "propositions/form", event: @event, proposition:  @proposition %>
