<% if current_user == @admin %> <%#this is for display the details to the admin  %>
  <% if @event.status %>
   <div class="container d-flex justify-content-center p-1">
    <h2>Please add some proposition to your <%= @event.name %> event</h2>
   </div>
    <div class="container d-flex  flex-column align-items-center p-1"  style="background-color: transparent; max-width: 450px;">
      <% @event.propositions.each do |proposition| %>
        <div class=" d-flex flex-column align-items-center p-2" >
          <ul class="list-group">
            <div  style="width: 400px;">
              <% if @event.propositions.select { |proposition| proposition.votes.where(user: current_user).count > 0 }.any?  %>
                <li class="list-group-item "  style=" background-color: trasnparent; border-radius: 40px;" >
                  <div class="objectborder">
                    <%= proposition.content %>
                    <%# <%= proposition.votes.size%>
                  </div>

                </li>
              <% else %>
                <div class="d-flex">

                    <%= link_to event_proposition_votes_path(@event, proposition), data: {turbo_method: :post}, class: "text-decoration-none" do  %>
                      <li class="list-group-item "  style=" background-color: trasnparent; border-radius: 40px;">
                        <div style="width: 150px;" class="d-flex justify-content-between">
                          <%= proposition.content %>
                          <div class="" style=" max-width: 120px; height: 25px; border-radius: 40px;">
                            <p>votes: <%= proposition.votes.size%></p>
                          </div>
                        </div>
                      </li>

                    <% end %><%#this is the end to the VOTES iterations  %>
                  <% end %> <%#this is the end to the IF/ELSE statement %>
                    <div class="d-flex justify-content-center align-items-center ">
                      <%= link_to "",
                      event_proposition_path(@event, proposition),
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                      class: "text-decoration-none fa-solid fa-trash-can",
                      style: "margin-left: 5px;" %>
                    </div>
                </div>
            </div>
          </ul>
        </div>
      <% end %> <%#this is the end of the proposition iterations %>
      <%= render "propositions/form", event: @event, proposition:  @proposition %>
    </div>
    <div class="container">
      <%= link_to "End the event", status_event_path(@event), data: {turbo_method: :patch}, class: "btn btn-outline-light objectborder m-2" %>
    </div>
  <% else %> <%#this else is for the statement of event.status %>

  <%# this is where you start to code %>

<%# this is the animation for the celebration %>
<%= render "animation"%>

<%# the end of the animations  %>



  <div class="container " style="text-align: center;">
    <h1 class="cinzel text-white">The winner is</h1>
    <% @event.propositions.sort_by { |proposition| -proposition.votes.count }.each do |proposition| %>
      <div class=" m-2 p-2" style="border-radius: 10px 100px / 120px; background: rgba(0, 0, 0, 0.3);">
        <p class="plex text-white" style=" background-color: trasnparent; border-radius: 40px;">
          <%= proposition.content %>
          <%= proposition.votes.count %>
        </p>
      </div>
    <% end  %>
  <% end %>
  </div>
  <div class="container">
    <%= link_to "back to events", events_path, class: "btn btn-outline-light objectborder m-2" %>
  </div>
  <%# this is where you need to stop coding %>
<% else %>
  <% if @event.status %>
   <div class="container d-flex justify-content-center p-1">
    <h2> <%= @event.name %></h2>
   </div>
    <div class="container d-flex  flex-column align-items-center p-1"  style="background-color: transparent; max-width: 450px;">
      <% @event.propositions.each do |proposition| %>
          <div class=" d-flex flex-column align-items-center p-2" >
            <ul class="list-group">
              <div  style="width: 400px;">
                <% if @event.propositions.select { |proposition| proposition.votes.where(user: current_user).count > 0 }.any?  %>
                  <li class="list-group-item " style="border-radius: ">
                  <div class="objectborder">
                    <%= proposition.content %>
                    <%= proposition.votes.size%>
                  </div>
                <% else %>
                  <%= link_to event_proposition_votes_path(@event, proposition), data: {turbo_method: :post}, class: "text-decoration-none"  do  %>
                    <li class="list-group-item">
                      <div >
                        <%= proposition.content %>
                        <%= proposition.votes.size%>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </div>
            </ul>
          </div>
      <% end %>
    </div>
  <% else %>
    <%# this is where you start to code %>
    <div class="container " style="text-align: center;">
    <h1 class="cinzel text-white">The winner is</h1>

    <% @event.propositions.sort_by { |proposition| -proposition.votes.count }.each do |proposition| %>
      <div class=" m-2 p-2" style="border-radius: 10px 100px / 120px; background: rgba(0, 0, 0, 0.3);">
        <p class="plex text-white">
          <%= proposition.content %>
          <%= proposition.votes.count %>
        </p>
      </div>
    <% end  %>
  <% end %>
  </div>
  <div class="ms-3">
    <%= link_to "back to events", events_path, class: "btn btn-outline-light objectborder" %>
  </div>
  <%# this is where you need to stop coding %>
<% end %>
