<div class="lateraldiv d-flex flex-column">
  <div class="d-flex justify-content-center p-3 fs-1">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
  </div>
</div>


<div class="d-flex justify-content-center pe-2">
  <div class="banner objectborder  d-flex justify-content-center align-items-center">
   <h1 class="text-white">Welcome to free will</h1>
   <div class="align-items-center ms-2">
   <%= link_to "Creat an event", new_event_path, class: "btn btn-primary objectborder"%>
   <%= link_to "Join an event", "#", class: "btn btn-primary objectborder"%>
   </div>
  </div>
</div>

<div class="container d-flex flex-wrap justify-content-center">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-6">
      <div class="m-2">
        <%= image_tag('https://pbs.twimg.com/media/EOQ_tMzWAAIWpoV.jpg:large', class: "sizelg") %>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6">
      <div class="m-2">
        <%= image_tag('https://pbs.twimg.com/media/EOQ_tMzWAAIWpoV.jpg:large', class: "sizesm")%>
      </div>
      <div class="m-2">
        <%= image_tag('https://pbs.twimg.com/media/EOQ_tMzWAAIWpoV.jpg:large', class: "sizesm")%>
      </div>
      <div class="m-2 p-2">
        <%= image_tag('https://pbs.twimg.com/media/EOQ_tMzWAAIWpoV.jpg:large', class: "sizesm")%>
      </div>
    </div>
  </div>
</div>
