<!DOCTYPE html>
<html>
  <head>
    <title>FreeWill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>


  <body style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/forest.jpg); min-height: 100vh; background-size: cover;">
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
